In [35]:
import pandas as pd
import numpy as np

In [110]:
df = pd.read_csv('lottery data - Sheet1.csv', header = None)[:4800]
df.tail(8)

                    0
4792               16
4793           มกราคม
4794             2540
4795           151995
4796               95
4797              995
4798               47
4799  612 257 020 381

In [62]:
first_prize = []
top2 = []
top3 = []
bottom2 =  []
for i in range(int(df.shape[0]/8)):
    first_prize.append((df.iloc[8*i +3,0]))
    top2.append(int(df.iloc[8*i+4,0]))
    top3.append(int(df.iloc[8*i+5,0]))
    bottom2.append(int(df.iloc[8*i+6,0]))

df = pd.DataFrame({'first_prize': first_prize, 'top2':top2,'top3':top3,'bottom2':bottom2})

In [108]:
formula_1 = []
formula_2 = []
for i in range(df.shape[0]):
    top_list = np.array(list(df['first_prize'][i])).astype(int)
    bot_list = np.array(list(str(df['bottom2'][i]))).astype(int)

    if len(top_list) < 6:
        top_list = np.concatenate((np.array([0]* (6 - len(top_list))), top_list))
    if len(bot_list) < 2:
        bot_list = np.concatenate((np.array([0]*(2 - len(bot_list))), bot_list))

    # formula 1
    first_dg = str((top_list[0] + top_list[1] + 2*top_list[2] + bot_list[0] + 2) % 10)
    tenth_dg = str((top_list[3] + bot_list[0] + bot_list[1]*4 + 4) % 10)
    final = int(tenth_dg + first_dg)
    formula_1.append(final)

    # formula 2
    first_dg2 = str(((top_list[0] + top_list[4] + top_list[5] + 3*bot_list[1] + 1))%10)
    tenth_dg2 = str(((top_list[0] + top_list[4] + bot_list[0] + 7))%10)
    final2 = int(first_dg2 + tenth_dg2)
    formula_2.append(final2)

df['formula1'] = formula_1
df['formula2'] = formula_2
df['formula4'] = (df['top2'] + df['bottom2'])%100

In [109]:
def evaluate_performance(y, y_pred):
    print('Accuracy {:.2f} %'.format((np.array(y[:-1]) == np.array(y_pred[1:])).mean()*100))


evaluate_performance(df['top2'], df['formula1'])
evaluate_performance(df['top2'], df['formula2'])
evaluate_performance(df['top2'], df['formula4'])

Accuracy 2.84 %
Accuracy 1.17 %
Accuracy 0.33 %